
<h1>{L_WORDS_TITLE}</h1>

<P>{L_WORDS_TEXT}</p>

<form method="post" action="{U_SEARCH}">
        <script type="text/javascript" src="/includes/json.js"></script>
        <script type="text/javascript" src="/includes/zxml.js"></script>
        <script type="text/javascript" src="facility_type.js"></script>

	<table width="90%" border="0" align="center">
	  <tr> 
		<td align="right" valign="top" nowrap="nowrap">
		<input type="hidden" name="facility" id="facility" size="40" autocomplete="off" />
		<input type="hidden" name="id" id="id" value="" />
<!--
			<input type="submit" value="Lookup Facility" />
-->
			</td>
	  </tr>
	</table>
</form>

<form method="post" action="{S_FACILITY_TYPE_ACTION}">
<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th colspan="2" class="thHead">{L_FACILITY_TYPE_EDIT} ID{L_FACILITY_TYPE_ATTRIBUTE_ID}{F_HIDDEN_FIELDS}</th>
	</tr>
	<tr>
		<td class="row1">{L_FACILITY_TYPE}</td>
		<td class="row2">{FACILITY_TYPE}</td>
	</tr>
	<tr>
		<td class="row1">{L_ATTRIBUTE_NAME}</td>
		<td class="row2"><input class="post" type="text" name="attribute_name" value="{ATTRIBUTE_NAME}" size="50" /></td>
	</tr>
	<tr>
		<td class="row1">{L_DESCRIPTION}</td>
		<td class="row2"><textarea class="post" type="textarea" name="description" value="" cols="50" rows="3" >{DESCRIPTION}</textarea></td>
	</tr>
	<tr>
		<td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="save" value="{L_SUBMIT}" class="mainoption" /></td>
	</tr>
</table>

</form>
