
<div id="abs_h1">{L_FETCH_TITLE}</div>

<div id="abs_p">{L_FETCH_TEXT}</div>


{ERROR_BOX}

<div id="text">{L_DOWNLOAD_TASK}</div>
<div class="bar blank"></div>
<div class="bar" style="width: {DOWNLOAD_PER}px"></div>
<div id="statusbox">{L_PRODUCT_DOWNLOAD}</div>

