
<h1>{L_WORDS_TITLE}</h1>

<P>{L_WORDS_TEXT}</p>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
  <tr align="center"> 
	<td>
	<span class="nav"><a href="{U_EVENT_LIST}">{L_EVENT_LIST}</a> : </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=sc">{L_SC}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=nc">{L_NC}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=pn">{L_PN}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=nn">{L_NN}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=ut">{L_UT}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=ak">{L_AK}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=hv">{L_HV}</a> | </span>
	<span class="nav"><a href="{U_EVENT_LIST}&network=global">{L_GLOBAL}</a> </span>
	</td>
  </tr>
  <tr align="center"> 
	<td>
	<span class="nav"><a href="{U_SCENARIO_LIST}">{L_SCENARIO_LIST}</a> : </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=sc">{L_SC}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=nc">{L_NC}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=pn">{L_PN}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=nn">{L_NN}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=ut">{L_UT}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=ak">{L_AK}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=hv">{L_HV}</a> | </span>
	<span class="nav"><a href="{U_SCENARIO_LIST}&network=global">{L_GLOBAL}</a> </span>
	</td>
  </tr>
  <tr align="center"> 
	<td>
	<span class="nav"><a href="{U_ATLAS_LIST}">{L_ATLAS_LIST}</a> : </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2007">2007</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2006">2006</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2005">2005</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2004">2004</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2003">2003</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2002">2002</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2001">2001</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=2000">2000</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1999">1999</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1998">1998</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1997">1997</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1996">1996</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1995">1995</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1994">1994</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1993">1993</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1992">1992</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1991">1991</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1990">1990</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1989">1989</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1988">1988</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1987">1987</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1986">1986</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1985">1985</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1984">1984</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1983">1983</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1982">1982</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1981">1981</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1980">1980</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1979">1979</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1978">1978</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1977">1977</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1976">1976</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1975">1975</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1974">1974</a> | </span>
	<span class="nav"><a href="{U_ATLAS_LIST}&y=1973">1973</a> | </span>
	</td>
  </tr>
</table>

<form method="post" action="{S_WORDS_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th class="thCornerL">{L_EVENT_ID}</th>
		<th class="thTop">{L_NETWORK}</th>
		<th class="thTop">{L_DESCRIPTION}</th>
		<th colspan="3" class="thCornerR">{L_ACTION}</th>
	</tr>
	<!-- BEGIN words -->
	<tr>
		<td class="{words.ROW_CLASS}" align="center"><a href="{words.U_EVENT}" target="_parent">{words.EVENT_ID}</a></td>
		<td class="{words.ROW_CLASS}" align="center">{words.NETWORK}</td>
		<td class="{words.ROW_CLASS}" align="left">{words.DESCRIPTION}</td>
		<td class="{words.ROW_CLASS}" align="center"><a href="{words.U_DOWNLOAD}">{L_DOWNLOAD}</a></td>
		<td class="{words.ROW_CLASS}" align="center"><a href="{words.U_INJECT}">{L_INJECT}</a></td>
		<td class="{words.ROW_CLASS}" align="center"><a href="{words.U_INJECT_SCENARIO}">{L_INJECT_SCENARIO}</a></td>
	</tr>
	<!-- END words -->
<!--
	<tr>
		<td colspan="4" align="center" class="catBottom">{S_HIDDEN_FIELDS}<input type="submit" name="add_event" value="{L_ADD_EVENT}" class="mainoption" /></td>
	</tr>
-->
</table></form>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
  <tr> 
	<td align="left" valign="top"><span class="nav">{PAGE_NUMBER}</span></td>
	<td align="right" valign="top" nowrap="nowrap"><span class="nav">{PAGINATION}</span><br /><span class="gensmall">{S_TIMEZONE}</span></td>
  </tr>
</table>
