
<h1>{L_USER_TITLE}</h1>

<p>{L_USER_EXPLAIN}</p>

{ERROR_BOX}

<form action="{S_WORDS_ACTION}" {S_FORM_ENCTYPE} method="post"><table width="80%" cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr> 
	  <th class="thHead">{L_SOURCE_USER}</th>
	  <th class="thHead">{L_DESTINATION_USER}</th>
	</tr>
	<tr> 
	  <td class="row1" align="center">
	  <input type="submit" name="{U_USER}" value="{L_USER}" class="mainoption" {STATUS_USER} />
	  <input type="submit" name="{U_PROFILE}" value="{L_PROFILE}" class="mainoption" {STATUS_PROFILE} />
	  </td>
	  <td class="row2"> 
	  </td>
	</tr>
	<tr> 
	  <td class="row1" valign="top" align="center">
	  {S_JUMPBOX_SELECT}</td>
	  <td class="row2" align="center"> 
	  {S_USERBOX_SELECT}
	  </td>
	</tr>
	<tr> 
	  <td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS} 
		<input type="submit" name="submit" value="{L_SUBMIT}" class="mainoption" />
		&nbsp;&nbsp; 
		<input type="reset" value="{L_RESET}" class="liteoption" />
	  </td>
	</tr>
</table></form>

