
<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
	<tr>
		<td id="map_pane" valign="top">
	<div id="content">
		<div id="map-wrapper">
			<div id="map"></div>
		</div>
	</div>
	<div id="alert">
		<p>Now Loading...</p>
	</div>
		</td>
	</tr>
</table>
