 
<div id="nav">
	<span class="gensmall"><a href="{U_LOGIN_LOGOUT}" class="nav">Login</a></span>
</div>


<div id="eq_list_wrapper">
	<div id="eqtable" >
		<form action="{S_LOGIN_ACTION}" method="post" target="_top">
		<table cellpadding="4" cellspacing="1" border="0" id="eq_list">
		<tr class="row2"> 
		<th height="25" class="thHead" nowrap="nowrap">{L_ENTER_PASSWORD}</th>
		</tr>
		<tr> 
		<td class="row1"><table border="0" cellpadding="3" cellspacing="1" width="100%">
		<tr> 
		<td align="center" style="border:none"><br /><br />
		<span class="gen">{L_USERNAME}:</span><input type="text" class="post" name="username" size="25" maxlength="40" value="{USERNAME}" />
		<br /><br /><span class="gen">{L_PASSWORD}:</span><input type="password" class="post" name="password" size="25" maxlength="32" />
		<br /><br />
		<!-- BEGIN switch_allow_autologin -->
		<span class="genVsmall">{L_AUTO_LOGIN}: <input type="checkbox" name="autologin" /></span>
		<!-- END switch_allow_autologin -->
		<br /><br />
		{S_HIDDEN_FIELDS}<input type="image" src="templates/Caltrans/images/login.gif" width="57" height="22" name="login" value="{L_LOGIN}" border="0" class="login" />
		
		<br /><a href="{U_SEND_PASSWORD}" class="gensmall">{L_SEND_PASSWORD}</a>
		</td>
		</tr>
		</table></td>
		</tr>
		</table>
		</form>
	</div>
</div>
