
	<!-- START: footer div -->
	<div id="footer" align="center">
		<span class="copyright">{ADMIN_LINK}
		<!--
			We request you retain the full copyright notice below including the link to www.phpbb.com.
			This not only gives respect to the large amount of time given freely by the developers
			but also helps build interest, traffic and use of phpBB 2.0. If you cannot (for good
			reason) retain the full copyright we request you at least leave in place the
			Powered by phpBB line, with phpBB linked to www.phpbb.com. If you refuse
			to include even this then support on our forums may be affected.

			The phpBB Group : 2002
		Powered by <a href="http://www.phpbb.com/" target="_phpbb" class="copyright">phpBB</a> &copy; 2001, 2005 phpBB Group<br />{TRANSLATION_INFO}
		// -->
		</span>
	</div><!-- /footer div -->
</div><!-- /container div -->
</body>
</html>