/* @group General text */
.gen{ 
	font-size: 12px;
}
.genmed{ 
	font-size: 12px;
	width: 280px;
	display: block;
	position: relative;
	margin:  0 0 5px 0;
}
.genmed strong, .genmed span.emphmed {
	/*position: absolute;*/
	top: 0;
	right: 0;
}
.gensmall{ 
	font: 10px Verdana, arial, helvetica, sans-serif;
	color: #666;
}
#nav .gensmall {
	color: #FFF;
}
.genVsmall {
	font: 9px arial, helvetica, verdana sans-serif;
	color: #666;
}
.gen,.genmed { 
	color: #000;
}
.emphlarge{ 
	font: 24px Verdana, arial, helvetica, sans-serif; 
	font-weight: bold;
	color: #F30; 
	text-align: center;
}
.emph{ 
	font-size: 12px;
	font-weight:bold;
}
.emphmed{ 
	font-size: 11px;
	font-weight:bold;
}
.emphsmall{ 
	font: 10px Verdana, arial, helvetica, sans-serif;
	font-weight:bold;
}
.emph,.emphmed,.emphsmall{ 
	color: #ae0f17;
}
/* @end */

input.post {
	width: 135px;
	height: 21px;
	background: #FFF;
	color:  #666;
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
}
input.post:hover {
	background: #FFC;
	border-bottom: 1px solid #FC3;
}
input.login {
	padding: 5px;
}

/* The largest text used in the index page title and toptic title etc. */
.title,h1,h2	{
	font-weight: bold; 
	font: 16px "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%; 
	color: #000;
}


/* This is the border line & background colour round the entire page */
.bodyline{
	background-color: #FFF;
	border: 1px #98AAB1 solid;
}
body{
	margin: 0;
	padding: 0;
	text-align: center;
	font: 12px arial, verdana, helvetica, sans-serif;
	background: #FFF;
	color: #444;
}
#container{
	text-align: left;
	margin: 10px auto;
	padding: 0;
	width: 775px;
	background: #FFF;
}
#header{
	width: 775px;
	height: 104px;
	float: left;
	margin: 0;
    position: relative;
	background: url("images/hd.gif") no-repeat #369;
}
#content{
	width: 100%;
	float: left;
	padding: 0;
	padding-top:1em;
	background: #333;
	margin:0;
}
#mapping{
	min-height: 300px;
	background: #FFF;
	border: 0;
	padding: 5px;
	margin: 5px;
}
#loginForm{
	float: left;
	background: #e5e5e5;
	margin: 10px 0 0 0;
}


/* @group Sidebar */
#sidebar{
	position: absolute;
	border: 1px solid #aaa;
	top: 0;
	width: 290px;
	height: 100%;
	overflow: auto;
}
#sidebar p{
     margin: 10px;
}
#sidebar ul#sidebar-list{
     list-style: none;
     padding: 0;
     margin: 0;
}
#sidebar ul#sidebar-list li a{
     display: block;
     border: 1px solid #ddd;
     background: #eee;
     margin: 5px;
     padding: 4px;
     font: 12px Helvetica, sans-serif;
     text-decoration: none;
     color: #444;
}
#sidebar ul#sidebar-list li.current a{
     border: 1px solid #444;
     border-left-width: 3px;
     padding-left: 2px;
}
#sidebar ul#sidebar-list li a:hover{
     background: white;
     color: #555;
}
#sidebar ul#sidebar-list li a strong{
     display: block;
}
#sidebar ul#sidebar-list li a span{
     font-style: italic;
     font-size: 11px;
}
/* @end */



#eq_list_wrapper{
	background: #FFF;
	border: 0;
	padding: 5px;
	margin: 5px;
}
#map{
    float: left;
	width: 400px; 
	height: 300px;
    border: 1px solid #aaa;
}
#map-right{
	margin: 0 0 0 15px;
	width: 337px; 
    float: left;
}
#info{
	min-height: 290px;
	padding: 5px;
	margin: 0;
	background: #d9e8f0;
	border: 1px solid #D1D7DC;
}



/* @group Headers */
h1{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #FFF;
}
h1 img{
	display: block;
	border: 0;
}
h2{
	background: #408cb3;
	color: #FFF;
	/*width: 750px;*/
	text-align: center;
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 3px;
}
td.cattitle {
	font: 16px arial, helvetica, verdana, sans-serif;
	padding: 5px 10px 5px 5px;
	color: #000;
}
/* @end */


/*scnav*/
ul#scnav{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	background: #eee;
	float: left;
	width: 100%;
}
ul#scnav li{
	display: block;
	/*position: absolute;*/
	top: 2.75em;
}



/* @group Global nav */
#globalnav{
	position: absolute;
	top: 32px;
	left:  10px;
	width: 765px;
	padding: 0;
	margin: 0;
	list-style: none;
	font: 11px arial, geneva, lucida, sans-serif;
}
#globalnav li{
	float:left;
	margin: 0;
	margin-right: 1px;
	padding: 0;
}
#globalnav a{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	border: 0;
}
#globalnav li:hover, #globalnav li.here, #globalnav li.here{
	background: url("images/navLeft.gif") no-repeat #FFF;
}
#globalnav li a:hover, #globalnav li a:active, #globalnav li.here a{
	background: url("images/navRight.gif") no-repeat;
	color: #000;
	background-position: top right;
}
#globalnav li.here ul li a, #globalnav li.here ul li{
	background: none;
}
/* @end */



/* @group Subnav */
#globalnav UL{
	position: absolute;
	left:0;
	top: 2em;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
#globalnav UL LI{
	float: left;
	display: block;
	margin-top: 1px;
	line-height: 2em;
}
#globalnav UL A{
	color: #000;
	display: inline;
	margin: 0;
	padding: 0em 1em;
	border: 0
}
#globalnav UL A:hover, #globalnav UL A:active, #globalnav UL A.here:link, #globalnav UL A.here:visited{
	color:#444;
	background: none;
}
/* @end */




table{ 
	border-collapse: collapse;
}
/* Main table cell colours and backgrounds */
td.row0{
	background: #FFF;
}
td.row1	{ 
	background: #ecf3f7;
}
td.row2	{
	background: #FFF;
}
td.row3	{
	background: #D1D7DC;
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic{
	background-color: #FFF;
	background-image: url(images/cellpic2.jpg) repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFA34F; 
	font-size: 11px; 
	font-weight: bold;
	background-color: #069; 
	height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom{
	color: #000;
	font-weight: bold;
	background-color:#DDD; 
	padding: 5px;
	border: 0; 
}
td.postbody {
	font: 12px arial, verdana, helvetica, sans-serif;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it:-)
*/
td.cat,td.catHead,td.catBottom{
	border-width: 0 0 0 0;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR{
	font-weight: bold; 
	border: #FFF; 
	border-style: solid; 
}
td.row3Right,td.spaceRow{
	background-color: #D1D7DC; 
	border: #FFF; 
	border-style: solid;
}
th.thHead,td.catHead{ 
	font-size: 12px; 
	border-width: 1px 1px 0 1px;
}
th.thSides,td.catSides,td.spaceRow	{ 
	border-width: 0 1px 0 1px;
}
th.thRight,td.catRight,td.row3Right	{ 
	border-width: 0 1px 0 0;
}
th.thLeft,td.catLeft	{ 
	border-width: 0 0 0 1px;
}
th.thBottom,td.catBottom{ 
	border-width: 0 1px 1px 1px;
}
th.thTop	{ 
	border-width: 1px 0 0 0;
}
th.thCornerL{ 
	border-width: 1px 0 0 1px;
}
th.thCornerR{ 
	border-width: 1px 1px 0 0;
}


a:link,a:active,a:visited{ 
	text-decoration: none; 
	color: #069;
}
a:hover{ 
	text-decoration: underline; 
	color: #DD6900;
}
/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ 
	font-weight: bold; font-size: 10px; color: #000;
	padding: 1em 1em 1em 1em;}
a.nav{
	font: 14px arial, verdana, helvetica, sans-serif;
	text-decoration: none; 
	color: #FFF;
}
a.nav:hover	{
	text-decoration: underline;
}
/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ 
	font-weight: bold; 
	font-size: 12px; 
	color: #069;
}
a.forumlink{
	text-decoration: none; 
	color: #069;
}
a.forumlink:hover{ 
	text-decoration: underline; 
	color: #DD6900;
}
/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.footer{ 
	font-weight: bold; 
	font-size: 10px; 
	color: #000; 
	margin-left: auto; 
	margin-right: auto;
}
a.footer{
	text-decoration: none; 
	color: #069;
}
a.footer:hover{ 
 	text-decoration: underline;
}
/* Copyright and bottom info */
.copyright		{ 
	font-family: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #444;
	letter-spacing: -1px;
}
a.copyright{
	color: #444;
	text-decoration: none;
}
a.copyright:hover{
	color: #000;
	text-decoration: underline;
}
/* Forum title: Text and link to the forums used in: index.php */
.eqinfolink	{ 
	font-weight: bold; 
	color: #069;
	font: 14px Arial, Helvetica, verdana sans-serif;
	margin: 0 0 15px 0;
	display: block;
}
a.eqinfolink{
	text-decoration: none; 
	color: #069;
}
a.eqinfolink:hover{
	text-decoration: underline;
	color: #DD6900;
}

/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/
table#eq_list {
	width: 754px;
}
#eq_list table, #eq_list td{
	border: 0;
	font: 11px arial, helvetica, verdana, sans-serif;
}
#eq_list th, #eq_list th a{
	font: 13px arial, helvetica, verdana, sans-serif;
	color: #FFF; 
	background: #408cb3; 
}
#eq_list table{
	position: relative;
	height: 100%
}
#eq_list thead th, #eq_list tbody th{
	color: #FFF;  
	padding: 5px;
	border-right: 1px solid #FFF;
}
#eq_list tbody th{
	background: #408cb3;
	text-align: left;
	font-weight: normal;
	font-size: 13px;
	font-weight: bold;
}
#eq_list tbody tr td{
	padding: 3px 5px;
	color: #00;
}
#eq_list tbody tr:hover{
	background: #eee;
}
#eq_list tbody tr:hover td{
	color: #333;
}
#eq_list tfoot td, #eq_list tfoot th{
	border: 0;
	padding: 4px;
	background: #FFF;
	color: #666;
}
#eq_list caption{
	text-align: left;
	font-size: 120%;
	padding: 10px 0;
	color: #666;
}
#eq_list table a:link, #eq_list table a:visited{
	color: #666;
}
#eq_list table a:hover, #eq_list table a:active{
	color: #036;
	text-decoration: none;
}
#eq_list tr.row0{
	background: #FFF;
}
#eq_list tr.row1{
	background-color: #ecf3f7;
}
#eq_list td.YELLOW{
	background-color: #FD0;
	color: #999;
}
#eq_list td.ORANGE {
	background-color: #F90;
	color: #DDD;
}
#eq_list td.GREEN	{
	background-color: #072;
	color: #FFF;
}
#eq_list td.RED	{
	background-color: #D00;
	color: #FFF;
}

table#eq_list #eqtableTH	{ 
	font: 14px arial, Verdana, Helvetica, sans-serif;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	padding: 0.5em;
	background: #6fa9c5;
}



/* @group clearfix */.clearfix:after{    content: ".";     display: block;     height: 0;     clear: both;     visibility: hidden;}.clearfix{
	display: inline-block;
}/* Hides from IE-mac \*/* html .clearfix{height: 1%;}.clearfix{display: block;}/* End hide from IE-mac *//* @end */


/* @group Sortable */
table.sortable {
	width: 100%;
}
.sortable table, .sortable td {
	border: 0;
	font: 11px arial, helvetica, verdana, sans-serif;
}
.sortable th, .sortable th a{
	font: 13px arial, helvetica, verdana, sans-serif;
	color: #FFF; 
	background: #408cb3;
}
.sortable table{
	position: relative;
	height: 100%;
}
.sortable thead th, .sortable tbody th {
	color: #FFF;  
	padding: 5px;
	border-right: 1px solid #FFF;
}
.sortable tbody th {
	background: #408cb3;
	text-align: left;
	font-weight: normal;
	font-size: 13px;
	font-weight: bold;
}
.sortable tbody tr td{
	padding: 3px 5px;
	color: #00;
}
.sortable tr.row0	{ background-color: #DD6900; }
.sortable tr.row1	{ background-color: #EEEEEE; }
.sortable tr.row2 th	{ background-color: #0066CC; }
.sortable tr.row2 a	{ color : #FFF; }
/* @end */

#facility_wraper {
	width: 95%;
	//height: 250px;
    position: relative;
	border: 1px solid #bbb;
	padding: 1em 1em;
	margin-left: auto; 
	margin-right: auto;
    overflow: auto;
}

#facility {
	width: 49%; 
    border: 1px solid #aaa;
	float: left;
    overflow: auto;
}

#facility-right {
	width: 49%; 
    border: 1px solid #aaa;
	float: right;
    overflow: auto;
}

