
<form action="{S_SEARCH_ACTION}" method="POST">
<div id="nav">
	<span class="gensmall"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></span>
</div>


<div id="eq_list_wrapper">
	<div id="eqtable" >
	<table class="forumline" width="100%" cellpadding="4" cellspacing="1" border="0" id="eq_list">
	<tr class="row2"> 
	<th class="thHead" colspan="4" height="25">{L_SEARCH_QUERY}</th>
	</tr>
	<tr> 
	<td class="row1" colspan="2" width="50%"><span class="gen">{L_SEARCH_KEYWORDS}:</span><br /><span class="gensmall">{L_SEARCH_KEYWORDS_EXPLAIN}</span></td>
	<td class="row2" colspan="2" valign="top"><span class="genmed"><input type="text" style="width: 300px" class="post" name="search_keywords" size="30" /></td>
	</tr>
	<tr> 
	<td class="catBottom" colspan="4" align="center" height="28">{S_HIDDEN_FIELDS}<input type="image" src="templates/Caltrans/images/search.gif" width="66" height="22" border="0" name="search" value="{L_SEARCH}" /></td>
	</tr>
	</table>
	</div>
</div>
</form>

