<html dir="{S_CONTENT_DIRECTION}">
<head>
<title>ShakeCast Administration</title>
<meta http-equiv="Content-Type" content="text/html;">
</head>

<frameset cols="200,*" rows="*" border="0" framespacing="0" frameborder="no"> 
  <frame src="{S_FRAME_NAV}" name="nav" marginwidth="3" marginheight="3" scrolling="auto">
  <frame src="{S_FRAME_MAIN}" name="main" marginwidth="10" marginheight="10" scrolling="auto">
</frameset>

<noframes>
	<body bgcolor="#FFFFFF" text="#000000">
		<p>Sorry, your browser doesn't seem to support frames</p>
	</body>
</noframes>
</html>