
<h1>{L_WORDS_TITLE}</h1>

<P>{L_WORDS_TEXT}</p>

<form method="post" action="{S_SERVER_ACTION}">
<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th colspan="2" class="thHead">{L_SERVER_EDIT}{F_HIDDEN_FIELDS}</th>
	</tr>
	<tr>
		<td class="row1">{L_SERVER}</td>
		<td class="row2">{DNS_ADDRESS} (ID: {SERVER_ID})</td>
	</tr>
	<tr>
		<td class="row1">{L_PASSWORD1}</td>
		<td class="row2"><input class="post" type="password" name="password1" value="" /></td>
	</tr>
	<tr>
		<td class="row1">{L_PASSWORD2}</td>
		<td class="row2"><input class="post" type="password" name="password2" value="" /></td>
	</tr>
	<tr>
		<td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="outgoing" value="{L_OUTGOING}" class="mainoption" /><input type="submit" name="incoming" value="{L_INCOMING}" class="mainoption" /></td>
	</tr>
</table>
</form>

