
<h1>{L_TEMPLATE_TITLE}</h1>

<p>{L_TEMPLATE_EXPLAIN}</p>

<form method="post" action="{S_TEMPLATE_ACTION}"><table class="forumline" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th class="thHead" colspan="2">{L_TEMPLATE_CONFIG}</th>
	</tr>
	<tr>
		<td class="row2">{L_TEMPLATE_CODE}</td>
		<td class="row1">{FILE_HEADER}{FILE_BODY}{FILE_FOOTER}</td>
	</tr>
	<tr>
		<td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" value="{L_SUBMIT}" /></td>
	</tr>
</table></form>
