
<h1>{L_WORDS_TITLE}{LOG_FILE}</h1>

<P>{L_WORDS_TEXT}</p>

<form method="post" action="{S_WORDS_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th class="thCornerL">{L_INDEX}</th>
		<th class="thCornerR">{L_LOG_ENTRY}</th>
	</tr>
	<!-- BEGIN words -->
	<tr>
		<td class="{words.ROW_CLASS}" align="right" valign="top">{words.INDEX}</td>
		<td class="{words.ROW_CLASS}" align="left">{words.LOG_ENTRY}</td>
	</tr>
	<!-- END words -->
	<tr>
		<td colspan="2" align="center" class="catBottom">{L_DISPLAY}<input type="radio" name="reverse_order" value="Yes" {reverse_order} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="reverse_order" value="" {reverse_order_NO} /> {L_NO} 
		| {LogFilter} {LinesSelect}{S_HIDDEN_FIELDS}
		<input type="submit" name="submit" value="{L_SUBMIT}" class="mainoption" /></td>
	</tr>
</table></form>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
  <tr> 
	<td align="left" valign="top"><span class="nav">{PAGE_NUMBER}</span></td>
	<td align="right" valign="top" nowrap="nowrap"><span class="nav">{PAGINATION}</span><br /><span class="gensmall">{S_TIMEZONE}</span></td>
  </tr>
</table>
