/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 12px; }
.gensmall { font-family: Verdana, arial, helvetica, sans-serif; font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
.emph { font-size : 12px; 	font-weight:bold;}
.emphmed { font-size : 11px; font-weight:bold;}
.emphsmall { font-family: Verdana, arial, helvetica, sans-serif; font-size : 10px; font-weight:bold;}
.emph,.emphmed,.emphsmall { color : #ff3300; }

/* The largest text used in the index page title and toptic title etc. */
.title,h1,h2	{
			font-weight: bold; font-size: 16px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #FFFFFF; border: 1px #98AAB1 solid; }

body
{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: times, "times new roman", sans-serif;
	font-size:12px;	background: #B0BFC2;
	color: #444;
	height: 100%;
}

#container
{
	text-align: left;
	margin: 0 auto;
	width: 800px;
	background: #fff;
}

#header {
	width: 100%;
	float: left;
	margin:0 0 2em 0;
    position: relative;
	background: #fff;
}

#content {
	width: 100%;
	float: left;
	padding-top:1em;
    position: relative;
	background: #fff;
	margin:0;
}

#mapping {
	width: 95%;
	height: 300px;
    position: relative;
	background: #eee;
	border: 1px solid #bbb;
	padding: 1em 1em;
	margin-left: auto; 
	margin-right: auto;
}

#eq_list_wrapper {
	width: 95%;
    position: relative;
	background: #eee;
	border: 1px solid #bbb;
	padding: 1em 1em;
	margin-left: auto; 
	margin-right: auto;
}

		#map { 
			position: relative; 
			top: 1em; 
			left:1em; 
			border-width: 2px; 
			border-color:#eee;
			width: 400px; 
		height: 300px;
		}
		#eqmap_wrap { 
			position: fixed; 
	background: #eee;
			top: 0; 
			left:0; 
			height: 300px;
			width: 440px
		}
/*
		#eqmap_wrap {position: fixed;}
*/

#info {
	padding: 0.5em 0.5em;
	background: #DEE3E7;
	border: 1px solid #D1D7DC;
}

h1
{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #fff;
}

h1 img
{
	display: block;
	border: 0;
}

/*scnav*/
ul#scnav
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	background: #eee;
	float: left;
	width: 100%;
}

ul#scnav li
{
	display: block;
	position: absolute;
	top: 2.75em;
}

/*globalnav*/

#globalnav {
	position:relative;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
	line-height:1em;
	background:#eee;
	font-family: arial, geneva, lucida, sans-serif;
	font-size:13px;
}

#globalnav LI {
	float:left;
	margin:0;
	padding:0;
}

#globalnav A {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#globalnav A:hover,
#globalnav A:active,
#globalnav A.here:link,
#globalnav A.here:visited {
	background:#bbb;
}

#globalnav A.here:link,
#globalnav A.here:visited {
	position:relative;
}

/*subnav*/

#globalnav UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px solid #fff;
}

#globalnav UL LI {
	float:left;
	display:block;
	margin-top:1px;
	line-height:2em;
	background:#bbb;
}

#globalnav UL A {
	background:#bbb;
	color:#fff;
	display:inline;
	margin:0;
	padding:0em 1em;
	border:0
}

#globalnav UL A:hover,
#globalnav UL A:active,
#globalnav UL A.here:link,
#globalnav UL A.here:visited {
	color:#444;
}

table { border-collapse: collapse; }
/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #FFFFFF;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFA34F; font-size: 11px; font-weight : bold;
	background-color: #006699; height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
			background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


a:link,a:active,a:visited { text-decoration: none; color : #006699; }
a:hover		{ text-decoration: underline; color : #DD6900; }
/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 10px; color : #000000; padding: 1em 1em 1em 1em;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }
/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }
/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.footer			{ font-weight: bold; font-size: 10px; color : #000000; margin-left: auto; margin-right: auto;}
a.footer			{ text-decoration: none; color : #006699; }
a.footer:hover		{ text-decoration: underline; }
/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}
/* Forum title: Text and link to the forums used in: index.php */
.eqinfolink		{ font-weight: bold; font-size: 13px; color : #006699; font-family: Verdana, Arial, Helvetica, sans-serif; }
a.eqinfolink 	{ text-decoration: none; color : #006699; }
a.eqinfolink:hover{ text-decoration: underline; color : #DD6900; }

/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

#eq_list table, 
#eq_list td
{
	border               : 1px solid #999;
	border-collapse      : collapse;
  font                 : small/0.9 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
#eq_list th
{
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	color: #FFA34F; font-size: 13px; font-weight : bold;
	background-color: #006699; height: 25px;
	background-image: url(images/cellpic3.gif);
}
#eq_list table
{
	border                :none;
	border                :2px solid #999;
	position : relative;
	height: 100%
}
#eq_list thead th,
#eq_list tbody th
{
  color                 : #eee;  
	padding               : 5px 10px;
  border-left           : 1px solid #999;
  border-right           : 1px solid #999;
}
#eq_list tbody th
{
  background-color            : #DEE3E7;
  border-top            : 1px solid #999;
  text-align            : left;
  font-weight           : normal;
  font-size: 13px; font-weight : bold;
}
#eq_list tbody tr
{
  background            : #DEE3E7;
}
#eq_list tbody tr td
{
	padding               : 5px 5px;
  color                 : #666;
}
#eq_list tbody tr:hover
{
  background            : #FFF url(/templates/subSilver/images/tr_bck.gif) repeat;
}

#eq_list tbody tr:hover td
{
  color                 : #454545;
}
#eq_list tfoot td,
#eq_list tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF url(/templates/subSilver/images/foot_bck.gif) repeat;
  color                 : #666;
}
#eq_list caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
#eq_list table a:link
{
	color                 : #666;
}
#eq_list table a:visited
{
	color                 : #666;
}
#eq_list table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
#eq_list table a:active
{
	color                 : #003366;
}

#eq_list tr.row0	{ background-color: #EFEFEF; }
#eq_list tr.row1	{ background-color: #DEE3E7; }
#eq_list tr.row2 th	{ background-color: #0066CC; }
#eq_list tr.row2 a	{ color : #FFF; }
#eq_list td.YELLOW	{ background-color: #FD0;  color: #999}
#eq_list td.GREEN	{ background-color: #072; color: #FFF}
#eq_list td.RED	{ background-color: #D00; color: #FFF}

#eqtableTH	{ 
	font : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	color: #FFA34F; font-size: 14px; font-weight : bold;
	text-align: left;
	padding: 0.5em;
}
