<?xml version="1.0"?>
<shakecast
    event_id="[% shakemap.shakemap_id %]"
    process_timestamp="[% shakecast.process_timestamp %]"
    code_version="[% shakecast.code_version %]"
    version="[% shakemap.shakemap_version %]">

    <shakemap
        shakemap_id="[% shakemap.shakemap_id %]"
        shakemap_version="[% shakemap.shakemap_version %]"
        code_version="[% shakemap.code_version %]"
        process_timestamp="[% shakemap.shakemap_id %]"
        shakemap_originator="[% shakemap.generation_timestamp %]"
        map_status="[% shakemap.shakemap_status %]"
        shakemap_event_type="[% event.event_type %]" />

    <event
        id="[% event.event_id %]"
        magnitude="[% event.magnitude %]"
        depth="[% event.depth %]"
        lat="[% event.lat %]"
        lon="[% event.lon %]"
        event_timestamp="[% event.event_timestamp %]"
        event_description="[% event.event_location_description %]" />

	[% FOREACH exposure = shakecast.exposure %]
    <exposure type="[% exposure.type %]">
	[%- FOREACH item = exposure.item -%]
        [%- SWITCH exposure.type -%]
			[%- CASE 'BRIDGE' -%]
				[% INCLUDE bridge %]
			[%- CASE 'CITY' -%]
				[% INCLUDE city %]
			[%- CASE 'NUCLEAR' -%]
				[% INCLUDE nuclear %]
		[%- END -%]
	[%- END -%]
	</exposure>
	[% END %]
</shakecast>

[% BLOCK bridge %]
	<item name="[% item.name %]" 
		latitude="[% item.latitude %]" 
		longitude="[% item.longitude %]" 
		<intensity type="PSA10" value="[% item.PSA10 %]" />
	</item>
[% END %]
[% BLOCK city %]
	<item name="[% item.name %]" 
		population="[% item.population %]" 
		latitude="[% item.latitude %]" 
		longitude="[% item.longitude %]" 
		capital="[% item.capital %]">
		<intensity type="MMI" value="[% item.MMI %]" />
	</item>
[% END %]
[% BLOCK nuclear %]
	<item name="[% item.name %]" 
		fragility="1"
		latitude="[% item.latitude %]" 
		longitude="[% item.longitude %]" 
		<intensity type="MMI" value="[% item.MMI %]" />
	</item>
[% END %]