


<div id="nav">
	<span class="gensmall"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></span>
</div>


<div id="eq_list_wrapper">
	<div id="eqtable" >

		<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" id="eq_list">
			<tr class="row2">
				<th class="thHead" height="25" valign="middle">{SITENAME} - {REGISTRATION}</th>
			</tr>
			<tr>
				<td class="row1" align="center"><table width="80%" cellspacing="2" cellpadding="2" border="0" align="center">
					<tr>
						<td><span class="genmed"><br />{AGREEMENT}<br /><br /><br /><div align="center"><a href="{U_AGREE}" class="genmed">{AGREE}</a><br /><br /><a href="{U_INDEX}" class="genmed">{DO_NOT_AGREE}</a></div><br /></span></td>
					</tr>
				</table></td>
			</tr>
		</table>
		
	</div>
</div>
