
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left" class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></td>
	</tr>
</table>

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
	<tr>
		<th class="thHead">{L_FAQ_TITLE}</th>
	</tr>
	<tr>
		<td id="map_pane" valign="top">
	<div id="toolbar">
		<font class="nav">ShakeCast System Facilities</font>
		<ul id="filters" class="nav">
		</ul>
		<ul id="sidebar-controls">
			<li><a href="#" id="button-sidebar-hide">hide</a></li>
			<li><a href="#" id="button-sidebar-show">show</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="map-wrapper">
			<div id="map"></div>
		</div>
		<div id="sidebar">
			<ul id="sidebar-list">
			</ul>
		</div>
	</div>
	<div id="alert">
		<p>Now Loading...</p>
	</div>
		</td>
	</tr>
	<tr>
		<td class="catBottom" height="28">&nbsp;</td>
	</tr>
</table>

<br clear="all" />


<table width="100%" cellspacing="2" border="0" align="center">
	<tr>
		<td align="right" valign="middle" nowrap="nowrap"><span class="gensmall">{S_TIMEZONE}</span><br /><br />{JUMPBOX}</td> 
	</tr>
</table>
